{% extends "base.html" %}

{% block content %}
    <div class="col text-center">
        <h2>О компании</h2>
        <img src=/static/img/logo.png alt="здесь должна была быть картинка, но не нашлась">
    </div>
    <h3>Компания "Семерочка" создана в 2021 году и с тех пор зарекомендовала себя одним из ведущих импортеров эксклюзивных товаров для повышения ума и получения отлмчного результата, предлагающая значительный ассортимент товаров всех направлений необходимых для вашей учебы. Поставляя товар во многие регионы России и СНГ, мы накопили богатый опыт и сможем подсказать Вам , какие позиции и когда пользуются наибольшим успехом. В целом же, наши товары успешно продаются круглый год.
Добавим, что все товары мы продаем и в РОЗНИЦУ и в ОПТОМ.</h3>
    <div class="col text-center">
        <a class="btn btn-outline-primary" href="catalog">Приступить к покупкам</a>
    </div>
{% endblock %}