{% extends "base.html" %}

{% block content %}
    <div class="col text-center">
        <h2>О компании</h2>
        <img src=/static/img/logo.png alt="здесь должна была быть картинка, но не нашлась">
    </div>
    <h3>Компания "Семерочка" создана в 2021 году и в будущем зарекомендует себя одним из ведущих продавцов эксклюзивных товаров для повышения ума и получения отличного результата. В продаже имеется значительный ассортимент товаров всех направлений необходимых для вашей учебы. Доставка товаров осуществляется во все регионы России, а так же в Антарктиду. Пока мы не стали миллиардерами, у вас есть шанс выкупить наш замечательный стартап.</h3>
    <div class="col text-center">
        <a class="btn btn-outline-primary" href="catalog">Приступить к покупкам</a>
    </div>
{% endblock %}