{% extends "base.html" %}

{% block content %}
<h1>Товары</h1>
{% for item in goods%}

<div class="col-md6 border rounded">
    <div class="row">
        <div class="col-lg-5">
            <img src={{item.picture}} alt="здесь должна была быть картинка, но не нашлась">
        </div>
        <div class="col-lg-5">
            <h2>{{item.name}}</h2>
            <h4 id='main'>{{item.about}}</h4>



            <div>
                Рейтинг - {{item.rating}}, Кол-во - {{item.amount}}
            </div>

        </div>
        <div class="col-lg-2">
            <br> </br>
            <br> </br>
            <br> </br>
            <br> </br>
            <br> </br>

            <h3>{{item.price}} руб</h3>
            <a class="btn btn-outline-primary" href="{{'/catalog/' + item.name}}">Подробнее</a>

        </div>
    </div>
</div>
{% endfor %}
<br> </br>
<br> </br>
<br> </br>
{% endblock %}